.under-construction {
  background: repeating-linear-gradient(
  45deg,
  var(--dark-blue),
  var(--dark-blue) 30px,
  var(--red) 30px,
  var(--red) 60px
);
  color: var(--powder-pink);
  font-weight: 800;
  overflow: hidden;
  padding: 20px;
  text-align: center;
}

.hide-button {
  background-color: var(--light-blue);
  border: 2px solid var(--pink);
  border-radius: 6px;
  cursor: pointer;

  color: var(--dark-blue);
  font-weight: 500;
  margin-top: 20px;
  padding: 12px;
  width: 250px;
  z-index: -1;
}
