.navigator {
  color: var(--light-gray);
  display: flex;
  gap: 12px;
  margin-left: 10px;
}

.nav-item {
  display: inline-block;
  list-style-type: none;
  margin-bottom: 4px;
}

.nav-link {
  color: var(--light-gray);
  text-decoration: none;
}
