
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~normalize.css';
@import 'app/notification-module/notification.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

:root {
  --dark-blue: #182F4D;
  --dark-gray: #333333;
  --grass-green: #567D46;
  --gray: #888888;
  --green: #26532B;
  --light-blue: rgba(32, 207, 219, 0.822);
  --light-gray: #EBEAE5;
  --pink: #E072A4;
  --powder-pink: #EEC4C9;
  --purple: #800080;
  --red: #DA2C38;
}

html {
  min-height: 100%;
}

body {
  background: radial-gradient(ellipse at right -50% bottom -50%, var(--light-gray) -100%, var(--dark-blue) 100%);

  --scroll-width: 0.65em;
  --scroll-height: 1em;
  &::-webkit-scrollbar {
    width: var(--scroll-width);
  }

  &::-webkit-scrollbar-button {

    // this is to prevent double button
    &:vertical:start:increment,
    &:vertical:end:decrement {
      display: none;
    }

    height: var(--scroll-height);
    background-color: var(--gray);
    border-style: solid;

    &:vertical:decrement {
      border-width: 0 calc(var(--scroll-width) / 2) calc(var(--scroll-height) * 0.8) calc(var(--scroll-width) / 2);
      border-color: transparent transparent black transparent;

      &:hover {
        border-color: transparent transparent var(--light-gray) transparent;
      }
    }

    &:vertical:increment {
      border-width: calc(var(--scroll-height) * 0.8) calc(var(--scroll-width) / 2) 0 calc(var(--scroll-width) / 2);
      border-color: black transparent transparent transparent;

      &:hover {
        border-color: var(--light-gray) transparent transparent transparent;
      }
    }
  }

  &::-webkit-scrollbar-track {
    background: #bdb0b0;
    border-radius: 2em;

    &:hover {
      background: var(--gray);
    }
  }

  &::-webkit-scrollbar-thumb {
    background-image: linear-gradient(180deg, var(--light-blue) 0%, var(--dark-blue) 99%);
    border-radius: 2em;
    box-shadow: inset 2px 2px 5px 0 rgba(#555, 0.5);

    &:hover {
      background: var(--dark-blue);
    }
  }
}

button:hover {
  cursor: pointer;
}

.custom-dialog-container .mat-mdc-dialog-container {
  border-radius: 1.5em;
  max-height: 100%;
  overflow: hidden;
  padding: 0;
}
