
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~normalize.css';
@import 'app/notification-module/notification.css';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

:root {
  --dark-blue: #182F4D;
  --dark-gray: #333333;
  --grass-green: #567D46;
  --gray: #888888;
  --green: #26532B;
  --light-blue: rgba(32, 207, 219, 0.822);
  --light-gray: #EBEAE5;
  --pink: #E072A4;
  --powder-pink: #EEC4C9;
  --red: #DA2C38;
}

html {
  min-height: 100%;
}

body {
  background: radial-gradient(ellipse at right -50% bottom -50%, var(--light-gray) -100%, var(--dark-blue) 100%)
}

.custom-dialog-container .mat-dialog-container {
  border-radius: 1.5em;
  max-height: 100%;
  overflow: hidden;
  padding: 0;
}
