<div *ngIf="accountService.currentUser$ | async as user"
     class="chat-container">
  <div class="chat-contacts">
      <button class="chat-add-button"
              (click)="showContactsList($event)"><i class="fas fa-plus"></i></button>
      <nim-contacts-list *ngIf="isContactsListVisible"
        [contacts]="contacts"
        (chosenToStartConversation)="startConversation($event)"
      ></nim-contacts-list>
  </div>
    <nim-conversation-window *ngFor="let conversation of conversations"
                             [conversation]="conversation"
                             (closeEvent)="closeConversationWindow(conversation.conversationId)"></nim-conversation-window>
</div>
